<div class="container">
    <div class="img-container">
        <img class="beer-img" src="/images/beer.png" alt="beer">
    </div>
    
    <a href="/beers" class="link-btn">Check the Beers!</a>
    <a href="/random-beer" class="link-btn">Check a Random Beer</a>
</div>